* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(180, 180, 180);
    text-align: center;
    border-radius: 7px;
    color: red
    ;
}

main > h2 {
    color: blue;
}

div > h2 {
    color: blue;
}

.clock {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    color: blue;
}

.clock > div {
    margin-right: 5px;
}

/* AQUI É BASICAMENTE O ESTILO QUE FOI PEDIDO, FIZ BASICAMENTE O QUE SE FOI PEDIDO MESMO, SEM ADICIONAR NEM TIRAR NADA  */