
/* ESSA DIV FOI USADA PARA CENTRALIZAR TUDO AO MEIO DA TELA */

div {
    display: block;
    text-align: center;
}

/* KEYFRAME PADRAO DE OPACIDADE */

@keyframes slide {
    to {
        opacity: 1;
    }
}

/* FIZ A PRÉ DEFINIÇÃO DO TAMANHO E DA COR PADRÃO */

span {
    display: inline-block;
    height: 130px;
    width: 50px;
    background-color: black;
    
}

/* AQUI VIM COLOCANDO AS CONFIGURAÇÕES DE ANIMAÇÕES EM CADA SPAN DE COR E NO H1 DA LIQUID GALAXY 

A MANEIRA COMO CONSEGUI FAZER FOI BASICAMENTE COM O DELAY DA ANIMAÇÃO, FOI COM ELA QUE CONSEGUI CHEGAR O MAIS PRÓXIMO POSSÍVEL DO EFEITO DA GALAXY

*/

h1 {
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: slide;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.azul {
    background-color: #1593c2;
    animation-name: slide;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

#vermelho {
    background-color: red;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    
}

.amarelo {
    background-color: #fdf7ba;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

#verde {
    background-color: #29cc41;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}